# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/wp-config.php
/wp-content/plugins/edc-orders/config.php
/wp-content/index.php
/wp-content/plugins/woo-custom-emails/readme.txt
/wp-content/plugins/woo-custom-emails/readme.md
/wp-content/plugins/woo-custom-emails/.editorconfig
/wp-content/plugins/woo-custom-emails/js/
/wp-content/plugins/woo-custom-emails/admin/